// color
$light: #fff;
$warn: #FF0000;
$blue-bg: #0088ff;
$grey-bg: #e0e0e0;
$send-bg: #F0F0F0;

// login
$login-bg: linear-gradient(180deg, rgba(0, 136, 255, 1) 0%, rgba(0, 48, 90, 1) 100%);
$header-bg: linear-gradient(270deg, rgba(0, 136, 255, 1) 0%, rgba(0, 48, 90, 1) 100%);

// btn
$btn-dark: #002341;
$btn-border: #707070;
$checked-bg: #004079;
