@import '@/assets/scss/share.scss';

.list__wrap {
  display: flex;
  align-items: center;
  margin-bottom: to-rem(15px);
}

.list__name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: to-rem(30px);
  height: to-rem(30px);
  background-color: $blue-bg;
  border-radius: 50%;
  color: $light;
}

.list__content {
  display: flex;
  flex-direction: column;
  margin-left: to-rem(10px);
  background-color: $send-bg;
  padding: to-rem(8px) to-rem(15px);
  border-radius: $radius;
  max-width: to-rem(400px);
}

.list__txt {
  font-size: $font-normal;
}

.list__time {
  margin-top: to-rem(5px);
  font-size: $font-mini;
  text-align: right;
}

.from__me {
  display: flex;
  justify-content: flex-end;

  .list__wrap {
    flex-direction: row-reverse;
  }

  .list__name {
    margin-left: to-rem(10px);
  }

  .list__content {
    margin-left: initial;
    background: $blue-bg;
    color: $light;
  }
}