@import '@/assets/scss/share.scss';

.header__wrap {
  @include position(fixed, 0, 0, n, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $header;
  background: $header-bg;
  color: $light;
  font-size: $font-big;
}

.header__icon {
  position: absolute;
  width: to-rem(30px);
  height: to-rem(30px);
  cursor: pointer;
}


.back__arrow {
  left: to-rem(10px);
  background: url("./images/arrow.svg") no-repeat;
}

.mobile {
  right: to-rem(40px);
  background: url("./images/mobile.svg") no-repeat;
}

.down__arrow {
  right: to-rem(10px);
  background: url("./images/down-arrow.svg") no-repeat;
}

.header__txt {
  position: absolute;
  cursor: pointer;

  &:hover {
    color: $btn-dark;
  }
}

.header__register {
  right: to-rem(90px);
}

.header__login {
  right: to-rem(30px);
}