@import '@/assets/scss/share.scss';

.btn__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: to-rem(53px);
}

.btn__title {
  display: flex;
  flex-direction: column;
  font-size: $font-mini;
  margin-bottom: to-rem(3px);
}

.mode__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $btn-dark;
  margin-bottom: to-rem(20px);
  border: 1px solid $btn-border;

  &:hover {
    color: $light;
    background: $btn-dark;
    opacity: .7;
  }
}

.go__register {
  font-size: $font-small;
  color: $blue-bg;
}

.has__selected {
  color: $light;
  background: $btn-dark;
  opacity: .7;
}

.start__btn {
  @include breakpoint($iphone5, true) {
    margin-top: to-rem(228px);
  }

  margin-top: to-rem(128px);
  background: $header-bg;
  color: $light;
}

.register__txt {
  margin-top: to-rem(5px);
}

.tip__txt {
  color: $blue-bg;
}